extends templates/layout
block vars
  - var title = 'Index page'

block content
  center
    h2 GRPHM KARAMEL
    p.
      Default gulp project<br>
      Version: 0.9<br>
      Homepage: <a target="_blank" href="https://bitbucket.org/grphm/krml-gulp">https://bitbucket.org/grphm/krml-gulp</a>
    p
      img(src='https://v1.std3.ru/08/06/1434497486-0806373edcbb7cb7551094487e65e984.jpg' width="300")
